<div class="container" ng-controller="UserAccessesCtrl" style="margin-top: 20px;">
    <div class="main-container">
        <div class="dashboard-wrapper">
            <div class="row page-title">
                <h2>User Accesses
                    <small>
                        <li><a href="#/">Home</a></li>
                        <li>/</li>
                        <li><a href="">IT</a></li>
                        <li>/</li>
                        <li style="color: #55b647;">User Accesses</li>
                    </small>
                </h2>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>